name: Build image without pushing

on:
  workflow_dispatch: {}
  push:
    branches:
      test-build

jobs:
  build-image:
    name: Build docker image without pushing
    runs-on: ubuntu-latest-m

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.HUB_DOCKER_USERNAME }}
          password: ${{ secrets.HUB_DOCKER_PASSWORD }}

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v4
        with:
          images: eyevinntechnology/mediainfo

      - name: Extract mediainfo-version
        id: mediainfo-version
        env:
          VERSION: ${{ steps.meta.outputs.version }}
        run: |
          VERSION=${VERSION#v}
          echo "version=${VERSION%%-*}" >> "$GITHUB_OUTPUT"
        
      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          platforms: linux/amd64,linux/arm64
          push: false
          build-args: |
            MEDIAINFO_VERSION=${{ steps.mediainfo-version.outputs.version }}